/* profile responsiveness */
.profile-large {
  display: none;
}
.profile-small {
  display: block;
}
@media (min-width: 992px) {
  .profile-large {
      display: block;
  }
  .profile-small {
      display: none;
  }
}

/* utilities */
/* font */
body {
  font-family: 'Inter', sans-serif;
}
.inknut-antiqua {
  font-family: 'Inknut Antiqua', serif;
}

/* background colors */
.bg-first {
  background-color: #0082D8;
}
.bg-second {
  background-color: #00B1FF;
}
.bg-third {
  background-color: #E6F4F1;
}
.bg-fourth {
  background-color: #EEE8A9;
}
.bg-transparent {
  background-color: transparent;
}

/* text colora */
.text-first {
  color: #0082D8;
}
.text-second {
  color: #00B1FF;
}
.text-third {
  color: #E6F4F1;
}
.text-fourth {
  color: #EEE8A9;
}

/* nav-link colors */
.nav-tabs .nav-link {
  color: white; /* Default color */
}
.nav-tabs .nav-link:hover {
  color: #00B1FF; /* Color on hover */
}
.nav-tabs .nav-link.active {
  color: #0082D8; /* Color when active */
}

/* carousel */
div.carousel-item > img {
  width: 100%;
  height : 400px;
}